<!-- <div class="dashboard" *ngIf="dashboardOutcome">
    <div *ngIf="dashboardOutcome.success; else failureTemplate" class="success-message">
      <h2>Welcome {{dashboardOutcome.username}}</h2>
      <p>Welcome to {{ registrationOutcome.username }}!</p>
    </div>

    <ng-template #failureTemplate>
        <h2 class="failure-message">Login Failed!</h2>
        <p class="failure-message">Error: {{ registrationOutcome.errorMessage }}</p>
      </ng-template>
  
      <button *ngIf="registrationOutcome.success" type="submit" routerLink="/login">
          Login
      </button>
  
</div> -->